<title>Shared Todo App - All your Todo go here</title>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><i class="icon-tasks"></i>TODO List</a>      
        </div>
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="well">
                <p>Todo Successfully Deleted</p>
                <a href="/todos/index" class="btn btn-inverse">Back</a>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="well brand">
        <center>QDXSOFT Solutions</center><br>
        <center># 257, Ground Floor, Burma Colony</center><br>
        <center>IT Corridor, Perungudi Post, Chennai-600096, India.</center>
    </div>
</div>